//
@use 'partials/_header.scss';
@use 'partials/_main.scss';
@use 'partials/_footer.scss';

.container {
    display: flex;
    max-width: 80%;
    height: 100%;
    margin: auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

