// footer social
.bg_container_social {
    position: relative;
    z-index: 10;
    height: 100px;
    background-color: rgb(61, 61, 61);
  }

  .footer_social {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .btn_sign_up {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 40px;
    border: 3px solid rgb(0, 143, 179);
    color: white;
    cursor: pointer;
    &:hover {
      transform: scale(1.2);
      background-color: rgb(206, 206, 206);
      color: black;
    }
  }

  .social_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    gap: 1em;
  }

  .follow_link {
    color: #0282f9;
    font-size: 15px;
    font-weight: bold;
    &:hover {
      transform: scale(1.2);
    }
  }

  .social_icon {
    display: flex;
    gap: 1em;
    img {
      &:hover {
        transform: scale(1.2);
      }
    }
  }
// footer link
.bg_container_link {
    background-image: url('/css/img/footer-bg.jpg');
    object-fit: contain;
    object-position: center;
  }
  .link_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 300px;
    padding: 1rem;
    color: rgb(255, 255, 255);
  }
  .link_list_box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
  }

  .list {
    margin-bottom: 1.8em;
    margin-right: 1.5em;
  }

  .list a {
    color: rgb(136, 136, 136);
    font-size: 12px;
    &:hover {
      color: white;
    }
  }

  .image_box img {
    width: 350px;
    height: 350px;
    object-fit: contain;
    object-position: center;
    &:hover {
      transform: scale(1.1);
    }
  }
// footer icon
  .bg_container_icon {
    background-color: #0282f9;
  }
  .navbar_down {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 130px;
    padding: 1em;
  }

  .link_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 0.7em;
    color: #fff;
    &:hover {
      transform: scale(1.1);
      transition: transform 0.2s ease-in-out;
    }
  }

  .icon_img {
    width: 50px;
    margin-right: 0.5em;
  }
